* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://picsum.photos/1920/1089?random=1");
    background-size: cover;
    background-position: center;
}

.caixa-maior {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
}

.temp {
    font-size: 28px;
    color: #ffffff;
    margin-top: 20px;
}

.grau {
    font-size: 16px;
    position: relative;
    top: -6px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    margin-top: 10px;
    color: #ffffff;
}
